rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // TEMPORARY RULES - Allow all authenticated users full access
    // Production me isko restrict karein
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
    
  }
}
